# Python
.venv/
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.pyo

# Environment files
.env

# VSCode
.vscode/

# macOS
.DS_Store

# Byte-compiled / optimized / DLL files
*.pyd

# Test and coverage
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.cache/
.mypy_cache/
.pyre/
.pytype/

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log